/**************************
COLORES GLOBALES
***************************/
:root 
{
    --primary-color: rgb(255 255 255 / 46%);

    --font-color: rgb(16 8 113);
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

/****************************
BARRA DE NAVEGACION
****************************/
nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.nav_container{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 1rem;
    padding: 0rem 2rem;
    margin: 2rem 3rem;
    border-radius: 2rem;
}

.nav_div {
    padding: 1rem;
    text-align: center;
}

.nav_div_btn {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid transparent;
    font: inherit;
    appearance: none;
}

.nav_div_a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    width: fit-content;
    color: inherit;
}

.nav_div_a_opciones {
    background-color: var(--primary-color);
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: 7rem;
    position: absolute;
    padding: 0.5rem;
    margin: 16px 5px;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    gap: 0.5rem;
}
.nav_div_a_opciones a:hover{
    border-bottom: 1px solid var(--font-color);
    color: var(--font-color);
}

.nav_div_btn:hover {
    border-bottom: 1px solid var(--font-color);
    color: var(--font-color);
}

.nav_div_a:hover {
    border-bottom: 1px solid var(--font-color);
    color: var(--font-color);
}

.nav_div:hover .nav_div_a_opciones {
    display: flex;
}

/****************************
BARRA DE NAVEGACION
****************************/

.body_container_img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


