/**************************
COLORES GLOBALES
***************************/
:root 
{
    --color-back: rgb(75 43 21);
    --primary-color: rgb(223 168 110 / 82%);
    --secundary-color: #a55511;
    --font-color: white;
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-back);
}

/****************************
BARRA DE NAVEGACION
****************************/
nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.nav-barra {
    background: linear-gradient(180deg, #7d4321, transparent);
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-direction: column;
    width: 90%;
    height: 4rem;
    border-radius: 0rem 0rem 1rem 1rem;   
}
.nav-barra__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.nav-barra__logo span{
    display: flex;
    flex-direction: column;
    width: 10rem;
    font-weight: bolder;
    font-family: inherit;
    color: var(--font-color);
    font-size: 1.4rem;
}

.nav-barra__logo a {
    height: 100%;
}

.nav-barra__logo img {
    height: 4rem;
    padding: 0rem 1rem;
}

.nav-barra__botones {
    display: grid;
    height: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.nav-barra__botones-btn {
    display: flex;
    align-items: center;
    width: 7rem;
}

.nav-barra__botones-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--font-color);
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.nav-barra__botones-btn-buscar{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.nav-barra__botones-btn-buscar input{
    padding-block: 0px;
    border: none;
    width: 70%;
    font-size: inherit;
    padding-inline: 4px 0px;
    border-radius: 5px 0px 0px 5px;
}

.nav-barra__botones-btn-buscar button{
    background-color: transparent;
    font-size: inherit;
    color: white;
    border: none;
    padding: 0rem 1rem;
    border-radius: 0px 5px 5px 0px;
}
.nav-barra__botones-btn a:hover {
    color: white;
    text-decoration: underline;
}

.nav-barra__botones-btn-buscar button:hover{
    cursor: pointer;
    background-color: black;
    color: var(--font-color);
}


/****************************
FOOTER PIE DE PAGINA
****************************/
footer {
    background: linear-gradient(0deg, var(--color-back), var(--secundary-color));
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 100%;
}

.footer-email {
    background: linear-gradient(-45deg, black, transparent);
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
}

.footer-email__message {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-email__message-img {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.footer-email__message-img img {
    height: 70%;
    padding: 0rem 1rem;
}

.footer-email__message-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer-email__message-text-title {
    font-weight: bold;
}

.footer-email__message-text-text {
    font-family: inherit;
}

.footer-email__scope {
    display: flex;
    width: auto;
    height: 100%;
    margin: 0rem 1rem;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.footer-email__scope-inputext{
    background-color: var(--secundary-color);
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 1rem;
}

.footer-email__scope-inputext input[type="text" i] {
    background-color: initial;
    padding-block: 0px;
    padding-inline: 0px;
    border: none;
    font-size: inherit;
    border-radius: 0.35rem;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-email__scope-inputext input::placeholder {
    color: inherit;
}


.footer-email__scope-suscribe {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-content__description {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 10.5rem;
}

.footer-content__description-title, .footer-content__redes-title, .footer-content__cursos-title, .footer-content__mycount-title{
    padding: 1rem;
    font-weight: bold;
}

.footer-content__description-text, .footer-content__redes-text, .footer-content__cursos-text, .footer-content__mycount-text{
    padding: 0rem 1rem;
}

.footer-content__redes-text ul, .footer-content__description-text li, .footer-content__cursos-text ul, .footer-content__cursos-text li, .footer-content__mycount-text li, .footer-content__mycount-text ul {
    margin: 0px;
    padding: 0px;
    list-style: None;
}

.footer-content__cursos-text a, .footer-content__description-text a, .footer-content__mycount-text a, .footer-content__redes-text a{
    text-decoration: none;
    color: inherit;
}

.footer-content__redes, .footer-content__mycount, .footer-content__cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 10.5rem;
}

.footer-content__cursos-text a:hover, .footer-content__description-text a:hover, .footer-content__mycount-text a:hover, .footer-content__redes-text a:hover {
    color: white;
    text-decoration: underline;
}






/****************************
INDEX
****************************/

.container-img {
    background-image: url('/static/images/fondo_inicio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container-img__content {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.container-img__content span {
    display: flex;
    justify-content: center;
    height: 34vh;
    align-items: end;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

.conteiner-img__resenias {
    background: linear-gradient(0deg, var(--secundary-color), transparent, var(--secundary-color));
    display: flex;
    justify-content: center;
    padding: 0.5rem 4rem;
    margin-top: 34rem;
    width: auto;
    border-radius: 1rem;
}
.conteiner-img__resenias a {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    border-radius: 1rem;
    margin: 0px 2%;
    width: 1rem;
    height: 1rem;
    padding: 0.75rem;
    transition: all 0.2s ease-out;
}

.container-description{
    background: linear-gradient(0deg, var(--color-back), rgb(249 92 0 / 44%), transparent);
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
}

.container-description__register{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-description__register-title{
    font-weight: bold;
    color: var(--font-color);
}

.container-description__register-text{
    font-size: inherit;
    margin: 0rem 2rem ;
    color: var(--font-color);
}

.container-description__register-text a{
    background-color: #a55511;
    font-size: inherit;
    text-decoration: none;
    color: var(--font-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.container-description__stars{
    height: 100%;
    width: 50%;
    color: var(--font-color);
}

.container-description__stars ol, .container-description__stars li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.container-description__stars li:hover{
    font-size: inherit;
    color: green;
    font-size: 2rem;
}

.conteiner-img__resenias a:hover {
    background-color: white;
     box-shadow: 0px 3px 2px var(--primary-color);
    transform: translateY(-2px);
}
.container-description__register-text a:hover{
    background-color: black;
    text-decoration: underline;
}

/****************************
CONTENEDOR DE CURSOS
****************************/
.container-cursos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
}

.container-cursos__card-curso {
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 12rem;
    padding: 1rem;
    width: 10rem;
    border-radius: 0.5rem;
    box-shadow: 5px 4px 1px var(--primary-color);
    border: 1px solid black;
    transition: transform 0.5s ease, background 0.7s ease;
}

.container-cursos__img-curso {
    background-color: var(--color-back);
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.container-cursos__img-curso img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.container-cursos__title-curso {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cursos__card-mas-cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    width: 7rem;
}

.container-cursos__title-mas-cursos{
    background-color: #a55511;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
}

.container-cursos__card-curso:hover {
    background-color: var(--primary-color);
    box-shadow: 5px 4px 1px var(--secundary-color);
    transform: translateY(-0.7rem);
}

/****************************
INFORMACION CUSOS
****************************/
.curso_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem 2rem 0rem;
}

.curso_info h2 {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

.curso_info ol {
    padding: 0rem 1rem;
    margin: 0rem;
}

.curso_info li {
    margin: 1rem 0rem;
}

.curso_info pre {
    display: flex;
    margin-block: 0px;
}

.curso_info code {
    margin: 0px;
}   

.curso_info_div {
    background-color: #ffd9b9;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.curso_info_div h3 {
    display: flex;
    justify-content: center;
}

.curso_info_div pre {
    display: flexbox;
    justify-content: center;
}

/****************************
MAPA FUNDAMENTOS
****************************/
.contenedor-fundamentos {
    display: flex;
    background-image: url("/static/images/mapa_fundamentos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 900px;
    height: 55vh;
    border-radius: 1rem;
}

.contenedor-fundamentos__punto {
    text-align: center;
    position: absolute;
}

.contenedor-fundamentos__punto a{
    width: auto;
    height: auto;
    background: gold;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    position: absolute;
}

/* Posiciones de los puntos */
#p1 { top: 10%; left: 10%; }
#p2 { top: 33%; left: 20%; }
#p3 { top: 57%; left: 15%; }
#p4 { top: 75%; left: 30%; }
#p5 { top: 46%; left: 37%; }
#p6 { top: 18%; left: 42%; }
#p7 { top: 45%; left: 52%; }
#p8 { top: 74%; left: 61%; }
#p9 { top: 38%; left: 72%; }
#p10 { top: 53%; left: 85%; }




svg {
    display: block;   
    top: 0;
    left: 0;
    width: 100%;
    height: auto;       /* se ajusta en proporción */
    pointer-events: none; /* que no bloquee clicks */
}

path {
    width: 100%;
    height: 100%;
    position: relative;
    stroke: white;
    stroke-width: 4;
    fill: none;
    stroke-dasharray: 10; /* estilo línea discontinua */
}

.contenedor-fundamentos__curso{
    background-color: rgb(136, 92, 92);
    margin: 2rem 0rem 0rem 0rem;
}


.contenedor-fundamentos__curso h2{
    background-color: white;
}

.conteiner-curso {
    display: flex;
    flex-direction: column;
}

.conteiner-curso h3 {
    padding: 0rem 4rem;
}
.conteiner-curso__content{
    display: flex;
    flex-direction: row;
}

.conteiner-curso__content-text{
    width: 50%;
    margin: 0rem 4rem;
    padding: 0rem 1rem;
}

.conteiner-curso__content-code{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0rem 4rem;
    padding: 1rem;
    border-radius: 2rem;
}



