/**************************
COLORES GLOBALES
***************************/
:root 
{
    --color-back: rgb(75 43 21);
    --primary-color: rgb(223 168 110 / 82%);
    --secundary-color: #a55511;
    --font-color: rgb(255 255 255);
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-back);
}

/****************************
BARRA DE NAVEGACION
****************************/
nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.nav-barra {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-direction: column;
    width: 90%;
    height: 4rem;
    border-radius: 0rem 0rem 1rem 1rem;   
}
.nav-barra__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.nav-barra__logo a {
    height: 100%;
}

.nav-barra__logo img {
    height: 70px;
}

.nav-barra__botones {
    display: grid;
    height: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.nav-barra__botones-btn {
    display: flex;
    align-items: center;
    width: 7rem;
}

.nav-barra__botones-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    text-decoration: none;
    color: inherit;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.nav-barra__botones-btn-buscar{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.nav-barra__botones-btn-buscar input{
    padding-block: 0px;
    border: none;
    width: 70%;
    font-size: inherit;
    padding-inline: 4px 0px;
    border-radius: 5px 0px 0px 5px;
}

.nav-barra__botones-btn-buscar button{
    background-color: black;
    font-size: inherit;
    color: white;
    border: none;
    padding: 0rem 1rem;
    border-radius: 0px 5px 5px 0px;
}
.nav-barra__botones-btn a:hover {
    color: white;
}

.nav-barra__botones-btn-buscar button:hover{
    cursor: pointer;
}


/****************************
FOOTER PIE DE PAGINA
****************************/
footer {
    background: linear-gradient(0deg, var(--color-back), var(--secundary-color));
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 100%;
}

.footer-email {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
}

.footer-email__message {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-email__message-img {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.footer-email__message-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.footer-email__message-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer-email__message-text-title {
    font-weight: bold;
}

.footer-email__message-text-text {
    font-family: inherit;
}

.footer-email__scope {
    display: flex;
    width: auto;
    height: 100%;
    margin: 0rem 1rem;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.footer-email__scope-inputext{
    background-color: var(--primary-color);
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 1rem;
}

.footer-email__scope-inputext input[type="text" i] {
    background-color: initial;
    padding-block: 0px;
    padding-inline: 0px;
    border: none;
    font-size: inherit;
    border-radius: 0.35rem;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-email__scope-inputext input::placeholder {
    color: inherit;
}


.footer-email__scope-suscribe {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-content__description {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 10.5rem;
}

.footer-content__description-title, .footer-content__redes-title, .footer-content__cursos-title, .footer-content__mycount-title{
    padding: 1rem;
    font-weight: bold;
}

.footer-content__description-text, .footer-content__redes-text, .footer-content__cursos-text, .footer-content__mycount-text{
    padding: 0rem 1rem;
}

.footer-content__redes-text ul, .footer-content__description-text li, .footer-content__cursos-text ul, .footer-content__cursos-text li, .footer-content__mycount-text li, .footer-content__mycount-text ul {
    margin: 0px;
    padding: 0px;
    list-style: None;
}

.footer-content__cursos-text a, .footer-content__description-text a, .footer-content__mycount-text a, .footer-content__redes-text a{
    text-decoration: none;
    color: inherit;
}

.footer-content__redes, .footer-content__mycount, .footer-content__cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 10.5rem;
}

.footer-content__cursos-text a:hover, .footer-content__description-text a:hover, .footer-content__mycount-text a:hover, .footer-content__redes-text a:hover {
    color: white;
    text-decoration: underline;
}






/****************************
INDEX
****************************/

.index_container_img {
    background-image: url('/static/images/fondo_inicio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    width: 100%;
    height: 100vh;
}

.container_img {
    background-color: rgba(0, 0, 0, 0.2);
}

.index_container_img span {
    display: flex;
    justify-content: center;
    height: 34vh;
    align-items: end;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}
.index_container_img p {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 2rem;
    margin: 0rem;
}

.conteiner_resenias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34rem;
}
.conteiner_resenias a {
    display: flex;
    background-color: var(--primary-color);
    color: inherit;
    text-decoration: none;
    border-radius: 1rem;
    margin: 0px 1%;
    width: 1rem;
    height: 1rem;
    align-items: center;
    padding: 1rem;
    transition: all 0.2s ease-out;
}

.conteiner_resenias a:hover {
    background-color: white;
     box-shadow: 0px 3px 2px var(--primary-color);
    transform: translateY(-2px);
}

/****************************
INFORMACION CUSOS
****************************/
.curso_info {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 0rem;
}

.curso_info h2 {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
}

.curso_info ol {
    padding: 0rem 1rem;
    margin: 0rem;
}

.curso_info li {
    margin: 1rem 0rem;
}

.curso_info pre {
    display: flex;
    margin-block: 0px;
}

.curso_info code {
    margin: 0px;
}   

.curso_info_div {
    background-color: #ffd9b9;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.curso_info_div h3 {
    display: flex;
    justify-content: center;
}

.curso_info_div pre {
    display: flexbox;
    justify-content: center;
}

/****************************
CONTENEDOR DE CURSOS
****************************/
.container-cursos {
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
}

.container-cursos__card-curso {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 12rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.container-cursos__img-curso {
    background-color: var(--color-back);
    height: 70%;
    border-radius: 50%;
}

.container-cursos__img-curso img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container-cursos__title-curso {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cursos__card-mas-cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    height: 12rem;
    width: 7rem;
    border-radius: 0.5rem;
}

.container-cursos__img-mas-cursos {
    background-color: var(--color-back);
    height: 50%;
    border-radius: 50%;
}

.container-cursos__img-mas-cursos img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container-cursos__title-mas-cursos{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

