<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_bp2.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav_logo">
            <a href=""><img src="{{ url_for('static', filename='images/logo_bp2.png')}}" alt=""></a>
        </div>
        <div class="nav_botones">
            <div class="nav_div">
                <a class="nav_div_a" href="">Inicio</a>
            </div>
            <div class="nav_div">
                <button class="nav_div_btn" >Cursos</button>
                <div class="nav_div_a_opciones">
                    <a class="nav_div_a" href="">Mate</a>
                    <a class="nav_div_a" href="">Algebaaara</a>
                    <a class="nav_div_a" href="">Fisica</a>
                </div>
            </div>
            <div class="nav_div">
                <a class="nav_div_a" href="">Registrarse</a>
            </div>
            <div class="nav_div">
                <a class="nav_div_a" href="">Contactanos</a>
            </div>
            <div class="nav_div">
                <a class="nav_div_a" href="">Mas</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>