<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_bp3.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-barra">
            <div class="nav-barra__logo">
                <a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='images/logo_bp3.png')}}" alt=""></a>
                <span>Biblioteca del Programador</span>
            </div>
            <div class="nav-barra__botones">
                <div class="nav-barra__botones-btn">
                    <a href="{{ url_for('index')}}">Inicio</a>
                </div>
                <div class="nav-barra__botones-btn">
                    <a href="{{ url_for('curso_informacion') }}">Cursos</a>
                </div>
                <div class="nav-barra__botones-btn">
                    <a href="">Contactanos</a>
                </div>
                <div class="nav-barra__botones-btn">
                    <a href="">Registrarse</a>
                </div>
                <div class="nav-barra__botones-btn-buscar">
                    <input type="text" id="busqueda" placeholder="Buscar palabra...">
                    <button onclick="buscar()">Buscar</button>
                </div>
            </div>  
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="footer-email">
            <div class="footer-email__message">
                <div class="footer-email__message-img"><img src="{{ url_for('static', filename="/images/logo_bp3.png")}}" alt=""></div>
                <div class="footer-email__message-text">
                    <div class="footer-email__message-text-title">RECIBÍ LOS CURSOS MAS RECIENTES.</div>
                    <div class="footer-email__message-text-text">Registra tu correo y recibi los nuevos cursos de manera inmadiara.</div>
                </div>
            </div>
            <div class="footer-email__scope">
                <form action="">
                    <div class="footer-email__scope-inputext"><input type="text" placeholder="Dirección de correo..."></div>
                </form>
                <div class="footer-email__scope-suscribe">SUSCRIBIRSE</div>
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-content__description">
                <div class="footer-content__description-title">Biblioteca del Programador</div>
                <div class="footer-content__description-text">Sitio elaborado para ayudar a los que inician en el mundo de la programación con cursos gratuitos.</div>
            </div>
            <div class="footer-content__redes">
                <div class="footer-content__redes-title">Redes Sociales.</div>
                <div class="footer-content__redes-text">
                    <ul>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-content__cursos">
                <div class="footer-content__cursos-title">Cusos Disponibles</div>
                <div class="footer-content__cursos-text">
                    <ul>
                        <li><a href="">Python</a></li>
                        <li><a href="">Python</a></li>
                        <li><a href="">Python</a></li>
                        <li><a href="">Python</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-content__mycount">
                <div class="footer-content__mycount-title">Mi cuenta</div>
                <div class="footer-content__mycount-text">
                    <ul>
                        <li><a href="">Mi perfil</a></li>
                        <li><a href="">Mi perfil</a></li>
                        <li><a href="">Mi perfil</a></li>
                        <li><a href="">Mi perfil</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>