{% extends 'base.html' %}

{% block title %}Curso-Informacion{% endblock %}

{% block content %}
<div class="curso_info">
    <h1>Fundamentos De La Programación</h1>
    <ol>
        <li>Introducción</li>
        <li>Tipos, operadores y Expresiones</li>
        <li>Estruturas de control</li>
        <li>Funciones y la estructura del programa</li>
        <li>Apuntadores y arreglos</li>
        <li>Estructuras</li>
        <li>Entrada y salida</li>
        <li>Interfaz del sistema UNIX</li>
        <li>Manual de referencias</li>
        <li>Biblioteca estandar</li>
    </ol>
    <h2>INTRODUCCIÓN</h2>

    <div class="curso_info_div">
        <h3>Hola Mundo en C</h3>
        <p>Todo programa da inicio en su ejecución con un "main" como parte principal del programa. </p>
        <p>Al inicio incluimos un "#include ...", indica al compilador que debe incluir informacion acerca de la biblioteca de entrada y salida en C.</p>
        <p>En este caso la funcion "prinft" tiene el argumento "hola mundo\n" el cual es el texto que se llegara a mostrar, la secuencia "\n" representa el caracter de la una nueva linea.</p>
        <p>La forma de ejecutar un programa en C depende el sistema que se esté utilizando, una de las formas mas comunes es ".c", Ejemplo con un programa llamado hola.c</p>
        <p>Para la compilación del codigo "gcc hola.c", y se puede ejecutar con "./hola".</p>   
        <code><pre>
        #include < stdio.h>
        int main (){
            printf("Hola mundo\n");
            return 0;
        }
        </pre></code>
    </div>
    

    <div class="curso_info_div">
        <h3>Variables</h3>
        <p>En C, se deben decalrar todas las variables antes de su uso, generamente al principio de la función.</p>
        <p>Una declaración otifica las propiedades de una variable, consra de un nombre de tipo y de una lista de variables.</p>
        <pre>
        <code>
        int edad, anio, mes, dia;
        char Letra;
        </code>
        </pre>
        <p>int representa a número enteros, float es u punto flotante es decir que pueden tener parte fraccionaria. <br>
            generalmente los int son de 16bits de rango, entre -32768 y + 32767, un punto flotante es de 32bits, por lo menos 6 digitos significativos y una magnitud de 10(-38).</p>
        <p>Tambien se cuenta con varicos tipos de datos básicos:</p>
        <code>
            <pre>
            char caracter 1byte
            short entero corto 
            long entero largo
            double punto flotante de doble presición
            </pre>
        </code>
        <p>Algunas formas de mostrart número son:</p>
        <code>
            <pre>
                %d escribe como entero decimal
                %6d escribe como entero decimal, por lo menos con 6 caracteres de amplitud
                %f escribe como punto flotante
                %6f escribe como punto flotante, por lo menos con 6 caracteres de amplitud
                %.2f escribe como punto flotante, con 2 caracteres después del punto decimal
                %6.2f escribe como punto flotante, por lo menos con 6 caracteres de ancho y 2 después del punto decimal.
            </pre>
        </code>
    </div>

    <div class="curso_info_div">
        <h3>Constantes simbólicas</h3>
        <p>Es una mala practica poner "númeross mágicos" como en 25 directamente en el programa, ya que se debe proporcionar información sobre el dato. una linea "#define" esa como se define un nombre simbólico o constante simbólica.</p>
        <code>
            <pre>
            #include < stdio.h>
            #define EDAD 25
            #define MES 8
            #define DIA 21
            </pre>
        </code>
    </div>

    <div class="curso_info_div">
        <h3>Funciones</h3>
        <p>Una función es proporcional a una subrutina, proporcina una forma conveniente de encaosial algunos cálculos, que se pueden emplear posteriormente.</p>
        <p>Una función tiene la forma de: "tipo-de-retorno nombre-de-la-función (parametros) { cuerpo }" </p>
        <code>
            <pre>
            /*
            Precodciones: exponente >= 0
            Postcondiciones: eleva la base a la n-ésima potencia.
            */
            int numero_cuadrado(int base, int exponente){
                int p;

                for (p = 1; n > 0; --n){
                    p = p * base;
                }
                return p;
            }
            </pre>
        </code>
        <p>Posteriormente lo podesmos llamar o hacer uso del mismo dentro del main</p>
        <code>
            <pre>
            int main(){
                int numero_cuadrado(int, int);
            }
            </pre>
        </code>
    </div>

    <h2>TIPOS, OPERADORES Y EXPRESIONES</h2>
    <div class="curso_info_div">
        <h3>Tipos y tamaños de datos</h3>
        <p>
            char(8bits)--un solo byte, capa de contener un caracter del subconjunto de caracteres local. <br>
            int(16 o 32bits)  --un enter, normalmente del tamaño naturalde los enteros en la máquina en la que se ejecuta. <br>
            float() -- punto flotante de presicion normalmente <br>
            double -- punto glotante de doble presicion. <br>
            tambien existen los short(16bits), long(32bits), para los enteros.
        </p>    
    </div>

    <div class="curso_info_div">

        <h3>Constantes</h3>
        <p>
            int -> 12345
            long -> 123456789L, cualquier entero demasiado grande ara caber dentri de un int tambien será tomado como long,
            unsigned -> implica una constante sin signos 'u' ó 'U'
            long undsigned -> 1324556UL
            float -> un punto flotante contiene una punto 12.2
            exponente -> una constante con un exponente 'le-2'
        </p>
    </div>

    <div class="curso_info_div">
        <h3>Declaraciones</h3>
        <p>
            Todas las Variables deben ser declaradas antes de su uso, una declaracion especifica un tipo, y contiene una lista de una o más variables de ese tipo <br>
            int lower, upper, step; <br>
            char c, line [100]; <br>
            Esto tambien puede ser escrita de la forma <br>
            int lower; <br>
            int upper; <br>
            int step; <br>
            char c; <br>
            char line[100]
        </p>
    </div>
    
    <div class="curso_info_div">
        <h3>Operaciones aritmeticas, relaciones y logicas</h3>
        <p>los operadores aritmeticos binarios son: + suma, - resta, * producto, % modulo devuelve el residuo entre la division entre dos numeros.</p>
        <p>Operdores de relacion: < <= > >=, == != </p>
        <p>Operador de incremento: ++ (agrega 1 a su operando),  ++n (se incremente en n), n++ (se incrementa en n)</p>
    </div>

    <h2>Control de flujo</h2>
    
    <div class="curso_info_div">
        <h3>Proposiciones y bloques</h3>
        <p>Una expresión como x = 0, i++, printf(...), va seguida de un punto y coma ";". Las llaves "{" y "}" se utilizan para agrupar declaraciones dentro de una proposicón compiesya o bloque. veremos las más comunes.</p>
        <p>if-else, se una para decisiones, la sintaxis es:</p>
        <code>
            <pre>
            if (expresion){
                proposición1;
            }
            else{
                proposición2;
            }
            </pre>
        </code>
        <p>Else-if: Esta secuencua de proposiciones if es la forma más general de escribir una desición mútiple, la expresión se evalua en orden, de acuerdo a la verdadera.</p>
        <code>
            <pre>
            if (expresión){
                proposición;
            } else if (expresión){
                proposición;
            } ... {
                ...;
            } else {
                proposición;
            }
            </pre>
        </code>
        <p>Switch: Es una decisión multiple que prueba si una expresión coincide con uno de un número de valores constantes enteros. Cada case se etiqueta con uno o más valores constantes enteros o expresiones constantes enteras</p>
        <code>
            <pre>
            switch (expresión){
                case exp-const: proposiciones
                    break;
                case exp-const: proposiciones
                    break;
                default: proposiciones
                    break;
            }
            </pre>
        </code>
        <p>Ciclos-while: si es diferente de cerp, se ejecuta la proposición y se reevalúa la expresión. Este ciclo continua hasta que la expresión se hace cero. La estructura formal del while es while:</p>
        <code>
            <pre>
            while (expresión){
                prpposición
            }
            </pre>
        </code>
        <p>Ciclo-for: Es la forma caracteristca de procesar los primero n elementos de un arreglo en C, </p>
        <code>
            <pre>
            for (i=0; i < n; i++){
                proposiciones
            }
            </pre>
        </code>

        <p>Ciclo do-while<: prueba al final después de realizar cada paso a través del cuerpo del ciclo, el cual se ejecuta siempre por lo menos una vez./p>
        <code>
            <pre>
            do 
                proposicion
            while (expresion);
            </pre>
        </code>
        <p>Break y continue: una forma de abandornar el ciclo que no sea por el inicio o final. La proposición continue provoca que inicie la siguiente itaración del ciclo for, while o do que la contiene (no valido para switch).</p>

            
    </div>

    <h2>APUNTADORES Y ARREGLOS</h2>
    
    <div class="curso_info_div">
        <p>Un puntero es una variable que contiene la direccion de una variable....</p>
        <h3>Apuntadores y direcciones</h3>
        <p>Dado un arreglo de celdas de memoria numeradas o direccionadas consecutivamente que se puede manipular individualmente o en grupos contiguos. Ahora con p un puntero que apunta a un chart.con el operador unario "&" se da la dirección de un objeto, de modo que la proposición.</p>
        <code>
            <pre>
            p = &c;
            </pre>
        </code>
        <p>Asigna la dirección de c a la variable p, y se dice que p apunta a "c". El operador & sólo aplica a objetos que están en memoria. EL operador unario "*" es el operador de indireccion p desreferencia, cuando se aplica un apuntador, da acceso al objeto al que señala al apuntador.</p>
        <code>
            <pre>
            int x = 1, y = 2, z[10];
            int *ip; /*ip es un puntero a int */

            ip = &x; /*ip ahora apunta a x*/
            y = &x /*y es ahora 1*/
            *ip = 0; /*c es ahora 0*/
            ip = &z[0]; /*ip ahora apunta a z[0]*/
            </pre>
        </code>
        <p>si ip apunra al entero x, entonces *ip puede presentarse en cualquier contexto donde x pueda hacerlo, asi que</p>
        <pre>
            <code>
            *ip = *ip +10
            </code>
        </pre>
        <p>Los operadores narios * y & se ligan más estrechamente que los operadores arimeticos, asi.</p>
        <pre>
            <code>
            y = *ip + 1 /*toma aquello que apunte a ip, le agrega 1 y asigna el resultado a y*/
            *ip += 1 /*incrementa en uno aquello que ip apunta*/
            ++ *ip
            (*ip)++
            </code>
        </pre>
        <p>por último, puesto que los apuntadores son variables, se puede emplear sin desreferaciaminento, por ejemplo, si iq es otro apuntador a int, iq = ip, copia el contenido de ip en iq; asi, hace que iq apunte a los que ip está apuntando.</p>
    </div>

    <div class="curso_info_div">
        <h3>Apuntadores y argumentos de funciones</h3>
        <p>Por defecto C pasa los argumentos de funcones por valor, no existe una forma directa para que la función que se invoca altere una variable de la función que la llama. dado que una función que se pasa solo intercabia copias. Ejemplo</p>
        <code>
            <pre>
            void swap (innt x, int y){
                int temp;
                temp = x;
                x = y;
                y = temp;
            }
            int main() {
                swap (a, b);
                return 0;
            }
            </pre>
        </code>
        <p>La forma de obtener los resutados que se desean es qe el programa invocador pase por punteros los valores que se cambiarán, Puesto que el operador & produce la dirección de una variable, &a es un apuntador a "a", Ejemplo.</p>
        <code>
            <pre>
            void swap(int *px, int *py){
                int temp;
                temp = *px;
                *px = *py;
                *py = temp;
            }
            int main() {
                swap (&a, &b);
                return 0;
            }
            </pre>
        </code>
    </div>
    
    <div class="curso_info_div">
        <h3>Apuntadores y arreglos</h3>
        <p>Cualquier operación entre apuntadores y arreglos puede lograrse por indexación, La declaración es int a[10];, define un arreglo a de tamaño 10, esto es, un bloque de 10 objetos consecusitoc llamadso a[0], a[1],...,a[9]. La notación a[i] se refiere al i-ésimo elemento del arreglo. si pa es un puntero a un entero, declarado como</p>
        <code>
            <pre>
            int *pa; 
            pa = &a[0]; /*Es la asignación, pa ahora apunta al elemento cero de a, se dice que pa contiene la dirección de a[0]*/
            </pre>
        </code>
        <p>Ahora la asignación x = *pa; copiará el contenido de a[0] en x. Si pa apunta a un elemento en particular de un arreglo, entonces por definición pa + 1 apunta al siguiente element, pa +I apunta i elementos después de pa, y pa-i apunta i elementos antes.</p>
        <p>Así pa apunta a a[0], *(pa + 1) se refiere al conenido de a[1], pa +i es la dirección de a[i] y *(pa+i) es el contenido de a[i]. Todo lo mencionado es válido sin importar el tipo o tamaño de las variables del arreglo.</p>
        <code>
            <pre>
            imagen  
            </pre>
        </code>
        <p>Por definición el valor de una varible o expresión de tipo arreglo es la dirección del elemento cero del arreglo, así que despues de la asignación pa = &a[0]; pa y a tienen valores idénticos. Puesto que e nombre de un arreglo es un sinónimo para la localidad de elemento incial, la asignación pa = &a[0] puede escribirse también como pa = a; Más sorprendente es el hecho de que una referencia a a[i] tambien puede escribirse como *(a+i).</p>
        <p>Al evalucar a[i], C la convierte inmediatamente a *(a+i); las dos formas son equivalentes. Al aplicar un operador & a ambas partes de esta se deriva en &A[i] y a+i tambien son identicas, a+++i es la dirección del i-ésimo elemento delante de a, por otra parte si pa es un puntero puede usarse con un subíndice pa[i] es identico a *(pa+i). </p>
        <p>Existe diferencia entre un nombre de arreglo y un apuntador, que debe tenerse en cuenta. Un apuntador o puntero es una variable, por esto pa = a y pa++ son legales. Pero un nombre de arreglo no es una variable, construcciones como a = pa y a++ son ilegales.</p>
    </div>

    <div class="curso_info_div">
        <h3>Apuntadores a caracterees, y funciones</h3>
        <p>Una cosntante de cadena escrita como "Soy una cadena" es un arreglo de caracteres que termina con un carácter nulo "\0", de tal manera que los programas puedan encontrar el fin. La longitud de alamacenamiento es así uno más que el número de caracteres entre las comillas.</p>
        <p>Cuando una cadena de caracteres como está aparece en un programa, el acceso a ella es atraves de un puntero a caracteres.</p>
        <p>Las cadenas constanres no necesitan ser argumentos de funciones. Si pmensaje se declara como: char *pmensaje; entonces la proposición pmensaje = "ya es el tiempo"; se asigna a pmesanje un puntero al arreglo de caracteres. Esta no es la copia de una cadena; solo concierne a punteros.</p>
        <code>
            <pre>
            char amensaje[] = "ya es el tiempo"; /*arreglo*/
            char *pmensaje = "ya es el tiempo"; /*apuntador*/
            </pre>
        </code>
        <p>amensaje es un arreglo suficientemente grande como para contene la secuencia de caracteres y el "\0" que lo inicializa. por otro lado pmensaje es un puntero, incializado para apuntar a una cadena constante; el puntero puede modificarse posteriormente para qu apunte a algún otro lado. el resultado es indefinido si se trata de modificar el contenido de la cadena.</p>
        <p>La primera función es strcpy(s,t), que copia la cadena t a la cadena s. Sería agradable dedir simplemente s=t, pero esto copia el apuntador, no los caracteres. Para copiar los caracteres requiere de un ciclo. Primero está la version con un arrreglo, luego con apuntadores.</p>
        <code>
            <pre>
            void strcopy(char *s, chat *t){
                int i;
                i = 0;
                while ((s[i] = t[i]) != '\0')
                    i++;
            }

            void strcopy(char *s, char *t){
                while ((*s == *t) = '\0'){
                    s++;
                    t++;
                }
            }
            </pre>
        </code>
        <p>Ahora examinaremos con strcmp(s,t) que compara las caenas de caracteres sy t, y regresa un valor negativo, cero o positivo si s es la lexicográficamente menor que, igual a, o mayor que t. El valor se obtiene al resto los caracteres de la primera posicion en que s y t no coinciden.</p>
        <pre>
            <code>
                int strcmp(char *s, char *t){
                    for (i = 0; s[i] == t[i]; i++){
                        if (s[i] == '\0'){
                            return 0;
                        }
                    }
                    return s[i] - t[i];
                }

                int strmp(char *s, char *t){
                    for ( ; *s == *t; s++, t++){
                        if (*s == '\0'){
                            return 0;
                        }
                    }
                    return *s -*t;
                }
            </code>
            <p>Puesto que ++ y -- son operadores prefijos o posfijos, se presentan otras combinaciones de *, ++ , aun que con menos frecuencia. Por ejemplo *--p disminuye p antes de traer el caraácter al que apunta.</p>
            <code>
                <pre>
                    *p++ = val; /*mete val en la pila*/
                    val = *--p; /*saca el tope de la pila y lo pone en val*/
                </pre>
            </code>
        </pre>
    </div>

    <div class="curso_info_div">
        <h3>Arreglos de apuntadores; apunteros a punteros</h3>
        <p>Si las líneas que se van a ordenar se almacenan juntas en un gran arreglo de caracteres, entonces se puede tener acceso a cada linea por medio de un apuntador a su primer carácter. por su lado, los apuntadores se pueden alamcenar en un arreglo. Dos lineas se pueden comparar pasando sus punteros a strcmp. Cuando dos lienas desordenadas tienen que intercambiarse, se intercambian los apuntadores en el arreglo de apuntadores, no las líneas de texto.</p>
        <p>Esto elimina el doble problema de un manejo complicado de almacenamiento y exceso de procesamiento que se produciría al mover las lineas. Veremos el proceso de ordenamiento tiene tres pasos. Primero veremmos las estructuras de datos y la entrada y salida.</p>
        <p>La rutina de entreda tiene que reunir y guardar los caracteres de cada línea, y contruir un arreglo de apuntadores hacia las líneas. Tambien debe contar el número de líneas de entrada, puesto que esa información se requiere para el ordenamiento y la impresión. DEbido a que la funcion de entrada sólo puede tratar con número fino de líneas, puede regresar alguna cuenta de líneas ilegal, como -1, si se presenta demasiado texto a la entrada.</p>
        <p>La rutina de salida sólo tiene que imprimir las líneas en el orden en que aparecen en el arreglo de apuntadores.</p>
        <code>
            <pre>
            #include < stdio.h>
            #include < string.h>

            #define MAXLINES 5000 /*max # de lineas por ordenar*/
            char *lineaptr[MAXLINES]; /*apuntadores a lineas de texto*/
            int readlines(char *lineptr[], int nlines);
            void writelines(char *lineptr[], int nlines);

            void qsort(char *lineptr[], int left, int right);

            main(){
                int nlines; /*número de lineas de entrada leídas*/
                if ((nlines = readlines(lieptr, MAXLINES)) > = 0){
                    qsort(lineptr, 0, nlines);
                    return 0;
                } else {
                    printf("error: entrada demasiado grande para ordenarla\n");
                    return 1;
                }
            }
            #define MAXLEN 1000 /*max longitud de cualquier linea de entrada*/
            int getline(char*, int);
            char *alloc(int);

            int readlines(char *lineptr[], int maxlines){
                int len, nlines;
                char *p, line[MAXLEN];

                nlines = 0;
                while ((len = getline(line, MAXLEN)) > 0){
                    if (nlines >= maxlines || (p = alloc(len)) == NULL){
                        return -1;
                    } else {
                        line[len-1] = '\0'; /*elimina carácter nuevo linea*/
                        strcpy(p, line);
                        lineptr[nlines++] = p;
                    }
                }
                return nlines;
            }

            void writelines(char *lineptr[], int nlines){
                int i;
                for (i = 0; i < nlines; i++){
                    printf("%s\n", lineptr[i]);
                }
            }
            </pre>
        </code>
        <p>El principal nuevo elemento es la declaración para linptr, que indica que lineptr es un arreglo de MAXLINES elementos, cada uno de los cuales es un apuntador a char, Esto es, lineptr[i] es un apuntador a carácter, y *lineptr[i] es el carácter al que apunta, el primer carácter de la i-ésima linea de texto almacenada.</p>
        <p>Puesto que lineptr es por si mismo el nombre de un arreglo, puede tratarse como un apuntador en la misma forma que en nuestros ejemplos anteriores, y weitelines puede escribirse en su lugar como.</p>
        <code>
            <pre>
            void writelines(char *lineptr[], int nlines){
                while (nlines -- > 0){
                    printf("%s\n", *lineptr++);
                }
            }
            </pre>
        </code>
        <p>Inicialmente *lineptr aunta a la primera línea; cada incremento lo avanza al siguiente apuntador a línea miestras nlines se disminuye.</p>

    </div>
    
    <h2>ESTRUCTURAS</h2>
    <div class="curso_info_div">
        <p>Una estructura es una colección de una o más variables, de tipos posiblemente deifernetes, agrupadas bajo un solo nombre para manejo coveniente. Las estructuras ayudan a organizar datos complicados, en particular dentro de programas grandes, debido a que perimten que a un grupo de variables relacionadas se les trate como una unidad en lugar de como entidades separadas.</p>
        <p>un ejemplo tradicional de estructura es el registro de una nómina: un empleado está descrito por un conjunto de atributos, como nombre, domicilio, número del seguro social, salario, etc.</p>
        
        <h3>Comceptos básicos sobre estructuras</h3>
        <p>Definamos algunas estructuras propias para graficación. el onjeto básico es un punto, del cual supondremos que tiene una coordenada x y una coordenada y, ambas enteras. Los dos componentes pueden ser colocados en una estructura declarada así:</p>
        <code>
            <pre>
            struct point {
                int x;
                int y;
            };
            </pre>
        </code>
        <p>La palabra reservada struct presenta la declaracion de una estructura, que es una lisya de declaraciones entre llaves. Un nombre optativo, llamado rótulo de estructura, puede seguir a la palabra struct (como aqui lo hace point). El rótulo da nombre a esta clase de estructura, y en adelante puede ser utilizado como una abreviatura para la parte de declaraciones entre llaves.</p>
        <p>Las variables nombradas dentro de la estructua se llaman miembros. Un miembro de estructura o rótulo, y una variavle ordinario (esto es, no miembro) puede tener el mismo nombre sin conflicto, puesto que siempre se pueden distingir por el contecto. Además, en diferentes estructuras pueden encontrartse los mismos nombres sólo para objetos estrechamente relacionados.</p>
        <p>Una declaración struct define un tipo. lallave derecha que termina la lisya de miembros puede ser seguida por una lista de variables, como se hace para cualquier tipo básico. Esto es, struct { ... } x,y,z; es análogo a int x,y,z; en el sentido de que cada proposición declara a x, y y z como una variable del tipo nombrado y causa que se les reserve espacio contiguo.</p>
        <p>Una declaración de estructura que no está seguida por una lista de variables no reserva espacio de almacenamiento sino que simplemente describe una plantilla o la forma de una estructura. Sin embargo, si la declaración está rotulada, el rótulo se puede emplear posteriormente en definiciones de isntancias de la estructura. Por ejemplo, dada la declaración anterior de point, struct point pt;</p>
        <p>Define una variable pt que es una estructura de tipo struct point. Una estructura se puede inicializar al seguir su definición con una lisya de inicializadores, cada uno una expresión constante, para los miembros: struct point maxpt = { 320, 200}; Una estructura automática tambien se puede inicializar por asignación o llamando a una función que regresa una estructura del tipo adecuado.</p>
        <p>Se hace referencia a un miembro de una estructua en particular en una expresión con una construccion de la forma nombre-estructura.miembro, El operador miembro de estructura "." conecta al nombre de la estructura con el nombre del miembro. Por ejemplo, para imprimir las coordenadas del punto pt</p>
        <code>
            <pre>
            printf("%d,%d", pt.x, pt.y);
            </pre>
        </code>
    </div>

    <div class="curso_info_div">
        <h3>Estructuras y funciones</h3>
        <p>Las únicas operaciones legales sobre una estructura son copiarla o asignarla como unidad, tomar si dirección con &, y tener acceso a sus miembros. La copia y la asignación incluye pasarlas como argumentos a funciones y tambien regresar valores de funciones. Las estructuras no se pueden comparar. Una estructura se puede inicializar con una lista de valores constantes de miembros, una estructura automática tambien se puede inicializar con una asignación.</p>
        <p>Investiguemos las estructuras escribiendo algunas funciones para manipular puntos y rectangulos. Hay por lo menos tres acercamientos posibles: pasar separadamente los componentes, pasar una estructura completa o pasar un apuntador a ella. Cada uno tiene sus puntos buenos y malos. La primera función, makepoint, toma dos enteros y regresa una estructura point:</p>
        <code>
            <pre>
            struct point makepoint(int x, int y){
                struct point temp;

                temp.x = x;
                temp.y = y;
                return temp;
            }
            </pre>
        </code>
        <p>Nótese que no hay conflictos entre el nombre del argumento y el miembro con el mismo nombre; incluso la reutilización de los nombres refuerza el vinculo. makepint ahora se puede usar para inicializar dinámicamente cualquier estructura, o para proporcianr los argumentos de la estructura a una función:</p>
        <code>
            <pre>
            struct rect screen;
            struct pint middle;
            struct pint makepoint(int, int);

            screen.pt1 = makepint(0, 0);
            screen.pt2 = makepoint(XMAX, YMAX);
            middle = makepint((screen.pt1.x + screen.pt2.x)/2,(screen.pt1.y + screen.pt2.y)/2);
            </pre>
        </code>
        <p></p>
    </div>

    <h2>ENTRADA Y SALIDA</h2>
    <div class="curso_info_div">
        <p>Las operaciones de entrada y salida no son en i parte del lenguaje C, por lo que hasta ahora no las hemos destacado. En este capitulo describiremos la biblioteca estándar, un  conjunto de funciones que proporcionan entrada y salida, manipilación de cadenas, manejo de memoria, rutinas matemáticas y una variedad de otros servicios.</p>
        <h3>Entrada y salida estándar</h3>
        <p>Cada archivo fuente que se refiera a una función de bibliotea de entrada/salida debe contener la línea #include < stdio.h></p>
        <p>El mecanismo de enrteda mpas simple es leer un carácter a la vez de la entrada stándar, normalmente el teclado, con getchar. int getchar(void), regresa el siguiene carácter de la entrada cada bez que se invoca, o EOF cuando encuentra fin de archivo. la constante EOF está definicda en stdio.h</p>
        <p>En muchos ambientes, un archivo puede tomar el lugar del teclado empleando la convencion < (prog < archent) para direccionamiento de entrada: si un programa "prog" usa getchar, entonces la lineda de órdenes provoca que prog lea caracteres de archent. El cambio de la entrada se realiza e tal manera que prog mismo es ajeno al cambio; en particular, la cadena "< archent" no está incluida entre los argumnetos de la línea de órdenes en argv.</p>
        <p>El cambio de la entrada es también visible si la entrada viene de otro programa via un mecanismo de interconexion(pipe) otroprog | prog, esto ejecuta tanto al programa otroprog como a prog, e interconecta la salida estandar de otroprog con la entrada stándar para prog.</p>
        <p>La función putchar(int) se emplea par salida, coloca el carácter c en la salida estándar qie por omisión es la pantalla, regresa el carácter escrito, o EOF si ocurre algún error. La salida puede ser digitada hacia algún archivo con > nombrearch, si prog utiliza putchar (prog > archsal). Si se permite la interconexión prog | otroprog, deja la salida estándar de prog en la entrada estándar de otroprog.</p>
        <p>La salida producda por printf tambien encuentra su salida estandar. Las llamadas a putchar a printf pueden estar traslapadas - la salida aparace en el orden en que se hicieron las llamadas.</p>
        <code>
            <pre>
            #include < stdio.h>
            #include < ctype.h>

            main(){
                int c;
                while ((c = getchar()) !0 EOF){
                    putchar(tolowe(c));
                }
                return 0;
            }
            </pre>
        </code>
    </div>

    <div class="curso_info_div">
        <h3>Salida con formato printf</h3>
        <p>Definición de la función de salida printf</p>
        <code>
            <pre>int printf(char *format, arg1, arg2, ...)</pre>
        </code>
        <p>printf da formato e iimprime sus argumentos en la salida estándar bajo en control de format. Regresa el npumeor de caracteres impresos.</p>
        <p>La cadena de formato contiene dos tipos de objetos: caracteres ordinarios, que son copiados al flujo de salida, y especificaciones de conversión, cada uno de los cuales causa la conversión e impresión de los siguientes argumentos sucesicos de printd. Cada especificación de conversión comienza con un % y el carácter de conversión pueden estar en orden.</p>
        <ul>
            <li>Un signo menos, que especifica el ajuste a la izquierda del argumento convertido.</li>
            <li>Un número que especifica el ancho mínimo de campo. El argumento convertido será impreso dentro de un campo de lamenos este ancho. Si es ncesario seá llenado de blancos a la izquierda (o a la derecha, si se requiere ajuste a la izquierda) para completar la amplitud del campo.</li>
            <li>Un punto, que separa el ancho de campo de la precisión.</li>
            <li>Un npumero, de la precisión, que especifica el npumero máximo de caracteres de una cadena que seá impresos, o el número mpinimo de digitos del punto decimal de una valor de punto flotante, o el número de mínimo de digitos para un entero.</li>
            <li>Una h si el entero seá impreso como un short, o una l(letra ele) si sepa como un long.</li>
        </ul>
        <p>Ahora veremos los efectos de una variavle de especificacciones al imprimir "hola, mundo" (11 caracteres) con una agregación de dos puntos(:) al inicio y al final.</p>
        <code>
            <pre>
            :%s:  :hola,mundo:
            :%10s: :hola, mundo:
            :%.10s: :hola, mund:
            :%-10s: :hola, mundo:
            :%.15s: :hola, mundo    :
            :%15.10s: :      hola,mund:
            :%-15.10s: :hola, mund     :
            </pre>
        </code>
    </div>

    <div class="curso_info_div">
        <h3>Entrada con formato scanf</h3>
        <p>La función scanf es la entreda análoga de printf y proporciona muchas de las mismas facilidades de conversion en la dirección opuesta. int scanf(char *format, ...)</p>
        <p>scanf lee caracteres de ka entrada estándar, los interpreta de acuerdo con las especificaciones que están en format, y almacena los resultados a través de los argumentos restantes. Cada uno de los argumentos debe ser un apuntador, indica dónde se deberá almacenar la entrada correspondiente.</p>
        <p>Regresa como su valor el número de ítems de entrada que coinciden con éxito. Esto se puede emplear para decidir cuantos ítems se encontraron. Al final del archivo, regresa EOF.</p>
        <p>Algunos caracteres de conversión indica la interpretación del campo de entrada, El argumento  correspondiente debe ser un apuntador.</p>
        <code>
            <pre>
            d, entero decimal; int *.
            i entero; int *. El entero puede estar en octal o hexadecimal.
            o entero octal; int *.
            u entero decimal sin signo; insigned int *.
            x entero hexadecimal; int *.
            c caracteres; char *. El salto normal sobre espacios en blanco es suprimido.
            s cadena de caracteres; char *, apunta a un arreglo de caracteres suficientemente grande para la cadena y termina en '\0'.
            e, f, g número de punto flotante con signo, punto decimal y exponente optativos; float *.
            % '%' literal; no se hace asignación alguna.
            </pre>
        </code>
        <p>Los carácteres de conversión d, i, o, u, x pueden ser precedidos pro 'h' para indicar que en la lisya de argumentos aparece un apuntador a short o 'l' para un apuntador a long en la lista de argumentos.</p>
        <p>En formato semejante, los caracteres de conversión e, f, g pueden ser precedidos por l para indicar que hay un apuntador a double en lugar de a float en la lista de argumentos.</p>
    </div>

    <div class="curso_info_div">
        <h3>Acceso a archivos</h3>
        <p>En este paso escribiremos un programa que de acceso a un archivo que no esté ya conectado al programa. cat se emplea para escribir archivos en la pantalla, y como un colector de entradas de propósito general para programas que no disponen de la capacidad de tener acceso a los archivos por nombre.</p>
        <p>cat x.c y.c; imprime el contenido de los archivos x.c y y.c en la salida estándar, Antes de que pueda ser leido o escrito, un archivo tiene que ser abierto por la función de biblioteca fopen, la cual toma un nombre externo como x.c ó y.c, que regresa un apuntador que serpa usado en postriores lecturas o escrituras del archivo.</p>
        <p>Este apuntador, llamado apuntador de archivo, apunta a una estructura que contiene información acerca del archivo, tal como la ubicación de un buffer, la posición de carácter actual en el buffer, si el archivo está siendo leido o escrito y su han ocurrido errores o fin de archivo.</p>
        <p>Las definiciones ontenidas de < stdio> incluyen una declaracipon de estructura llamada FILE. La única declaración necesaria para un apuntador de archivo.</p>
        <code>
            <pre>
            FILE *fp;
            FILE *fopen(char *nombre, chat *modo);
            </pre>
        </code>
        <p>Esto dice que fp es un apuntador a un FILE, y fopen regresa un apuntador a FILE. La llamada a fopen en un programa es fp = fopen(nombre, modo);. El primer argumento nombre es una cadena de caracteres que contiene el nombre del archivo.</p>
        <p>El segundo argumento es el modo, tambien una cadena de caracteres, que indica cómo se intenta emplear el archivo. Los modos disponibles incluyen lectura ("r"), escritura ("w"), y añadido ("a").</p>
        <p>Si un archivo que no existe se abre para escribirlo o añadir, se crea, si es posible. Abrir un archivo existente para escribir provoca que los contenidos anteriores sean desechados, mintras que abrirlo para anañdor los preserva. Es un error tratar de leer un archivo que no existe, y también pueden haber otras causas de quer errr, fopem regresa NULL.</p>
        <p>Los siguientes que se requiere es una forma de leer o escribir el archivo una vez estpa abierto. Esiten varias posibilidades, de las cuales getc y putc son las mas simples. getc regresa el siguiente carácter de un arhcivo; necesita el apuntador del archivo para decirle cuál es. int getc(FILE *fp). getc regresa el siguiente carácter del fujo al que se refiere fp; regresa EOf si ocurre algún error.</p>
        <p>putc es una funcipon de salida. int putc(int c, FILE *fp). purc escribe el carácter c en el archivo fp y regresa el carácter escrito, o EOF si ocurre un error. Tal como getchar y putchar, get y puc pueden ser macros en lugar de funciones.</p>
        <p>Para entrada o salida de archivos con formato se puede emplear las funciones fscanf y fprintf. Estas son idénticas a scanf y printf, excepto en que el primer argumento es un apuntador de archvo que especifica el archivo que será escrito o leído; la cadena de formaro es el segundo argumento.</p>
        <code>
            <pre>
            int fscanf(FILE *fo, char *formato, ...)
            int fprintf(FILE *fo, char *formato, ...)
            </pre>
        </code>
        <code>
            <pre>
            #include < stdio.h>
            main(int argc, chat *argc[]){
                FILE *fp;
                void filecopy(FILE *, FILE *);
                if (argc == 1){
                    . filecopy(stdin, stdout);
                } else {
                    while (--argc > 0){
                        if ((fp =open(*++argv, "r")) == NULL){
                            printf("cat:no se puede abrir %s'n", argv);
                            return 1;
                        } else {
                            filecopy(fp,stdout);
                            fclose(fp);
                        }
                    }
                }
                return 0;
            }

            void filecopu(FILE *ifp, FILE *ofp){
                int c;
                while ((c = getc(ifp)) != EOF){
                    putc(c, ofp);
                }
            }
            </pre>
        </code>
        <p>La función int fclose(FILE *fp) es lo inverso a fopen, intrrumpe la conexión que fue establecida pro fopen entre el apuntador de archivo y el nombre externo, liberando al apuntador de archivo para otro archivo.</p>
    </div>

    <div class="curso_info_div">
        <h3>Manejo de errores stderr y exit</h3>
        <p>El problema es que si no se puede tener acceso a un o de los archivos por alguna razón, el diagnostico se imprime al final de la salida concatenada. esto podría ser aceptable si la salida va a la pantalla, pero no si va hacia un archivo o hacia otro programa mediante una interconexión.</p>
        <p>Para maneajr mejor esta situación, se asigna un segundo flujo de salida, llamda stderr, aun progrma en la mmisma forma que stdon y srdout. La salida escrita hacia stderr normalmente aparece en la pantalla, aun si la salida estandar es redirigida.</p>
        <code>
            <pre>
            #include < stdio.h>
            main(int argc, chat *argc[]){
                FILE *fp;
                void filecopy(FILE *, FILE *);
                char *prog = argv[0]; /*nombre del programa para errores*/
                if (argc == 1){
                    . filecopy(stdin, stdout);
                } else {
                    while (--argc > 0){
                        if ((fp =open(*++argv, "r")) == NULL){
                            fprintf(stderr,"%s: no se puede abrir %s\n", prog, *argv);
                            exit(1);
                        } else {
                            filecopy(fp,stdout);
                            fclose(fp);
                        }
                    }
                }

                if (ferror(stdout)){
                    fprintf(stderr, "%s: error al escribir stdout\n", prog);
                    exit(2);
                }
                exit(0);
            }
            </pre>
        </code>
        <p>El programa señala erroes en dos manereas. Primero, la salida de diagnosticos producida por fprintf ca hcaia stderr, de modo que encuentra su camino hacia la pantalla en lugar de desaparecer en una interconexión o dentro de un archico de salida. Incluimos el nombre del programa, toamdolo de argv[0]. El argumento exit está disponible para cualquier proceso que haya llamado a éste, para que se pueda probar el exito ofracaso del programa.</p>
        <p>Dentro de main, return expr es equivalente a exit(expr). exit tiene la venaja de que puede puede ser llamada desde otras fuenciones, y que las llamadas a ella se pueden encontrar con una programa de búsqueda de patrones. La función ferror regresa un valor diferente de cero si ocurrió un erro en el flujo fp. int ferror(FILE *fp).</p>
        <p>Aunqie los erroes de salida son raros, si ocurren, por lo que los programas de producción deben revisar también esto. La función feof(FILE*) es análogo a ferror; regresa un valor diferente de cero si ha ocurrido un fin de archivo en el archivo en el especificado. int feof(FILE *fp)</p>
    </div>

    <div class="curso_info_div">
        <h3>Entrada y salida de líneas</h3>
        <p>La biblioteca estándar proporciona una rutina de entrada fgets, es semenjante a la funcipon getline. char *fgets(char *linea, int maxlinea, FILE *fp).</p>
        <p>fgets lee  la siguiente linea (incluyendo el carácter nueva linea) del arhcivo fp y la deja en el arreglo de caracternes lineas; se leen hasta maxline-l caracteres. La linea resultante se termina con '\0'. Normalmente, fgets regersa línea en caso de fin de archivo o de error, regresa NULL.</p>
        <p>Para salida, la función fputs escribe una cadena (que no necesita contenedor una nueva linea) a un archivo: int fputs(char *line, FILE *fp)</p>
        <p>Esta función regresa EOF si ocurre un error y cero si no ocurre. Las funciones de biblioteca gets y puts son semenajtes a dgets y fputs, pero operan sobre stdin y sdout. De modo desconcertante, gets elimina el '\n' terminal y puts lo agrega.</p>
    </div>

    <div class="curso_info_div">
        <h3>Operaciones sobre cadenas</h3>
        <p>ya hemos menionadlas funciones sobre cadenas strlen, strcpy, strcat, strcmp, que se encuentram en < string.h>. En adelante, s y t son de tipo char*, y c y n ints.</p>
        <ul>
            <li>
                strcat(s,t) concaatena t al final de s
                strncat(s,t,n) concatena n caracteres de t al final de s.
                strcmp(s,t) regresa negatico, cero, o positivo para s < t, s == t, o s > t.
                strncmp(s,t,n) igual que strcmp preo sólo en los primeros n caracteres
                strcpy(s,t) copia t en s
                strncpy(s,t,n) copia a lo más n caracteres de t a s
                strlen(s) regresa la longitud de s
                strchr(s,c) regresa un apuntador al primer c que esté en s, o NULL si no está presente
                strrchr(s,c) regresa un apuntador al último o que esté en s, o NULL si no está presente
            </li>
        </ul>
    </div>

    <div class="curso_info_div">
        <h3>Administración de almacenamiento</h3>
        <p>Las funciones de malloc y calloc ontienen bloques de memoria dinámicamente, void malloc(size_t n) regresa un apuntador a n bytes de almacenamiento no inicializado, o NULL si la petición no se satisface.</p>
        <p>void *calloc(size_t n, size_t size) regresa un apuntador a suficiente espacio para almacenar un arreglo de n objetos de tamaño especificado, o NULL si la petición no se satisface. El espacio de almacenamiento es inicializado en cero.</p>
        <p>El apuntador regresado por malloc ó calloc tiene la alineación apropiada para el objeto en cuestión, pero se le debe hacer una conversión forzada al tipo apropiado como en:</p>
        <code>
            <pre>
            int ip;
            ip = (in *) calloc(n, sizeof(int));
            </pre>
        </code>
        <p>free(p) libera el espacio apuntado por p, donde p se obtuvo originalmente por una llamada a malloc o calloc. No existe restricciones sobre el orden en el que se libera el espacio, pero es una grave error liberar algo no  obtenido por una llamada a calloc o malloc.</p>
        <p>Tambien es un error usar algo despues de haber sido liberado. Se debe guardar lo necesario antes de liberar memoria.</p>
    </div>

    <div class="curso_info_div">
        <h3>Generación de números aleatorios</h3>
        <p>La función rand() calcula una secuencia de enteros pseudoaleatorio en el rango de cero a RAND_mAX, que está definido en < stdib.h>. Una forma de producir número aleatorios de punto flotante mayores o iguales a cero per menos que uno es</p>
        <code><pre>
        #define frend() ((dobule) rand()/(RAND_MAX+1))
        </pre></code>
        <p>Si su biblioteca ya proporciona una función para números aleatorios de punto flotante, es probable que tenga mejores propiedades estadisticas que ésta.</p>
        <p>La función srand(unsigned) fiija la semilla para rand. La implantación portátil de rand y de srand sugerida por el estándar.</p>
    </div>

    <h2>LA INTERFAZ CON EL SISTEMA UNIX</h2>
    <p></p>
</div>
{% endblock %}