{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="index_container_img">
        <div class="container_img">
            <span>Biblioteca del Programador</span>
            <p>Contenidos completos, aprendizaje rapido</p>
            <div class="conteiner_resenias">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-envelope-at"></i></a>
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>
    <div class="container-cursos">
        <div class="container-cursos__card-curso">
            <div class="container-cursos__img-curso"><img src="{{ url_for('static', filename="/images/fondo_inicio.jpg")}}" alt="Imagen del curso"></div>
            <div class="container-cursos__title-curso">Python</div>
        </div>
        <div class="container-cursos__card-curso">
            <div class="container-cursos__img-curso"><img src="{{ url_for('static', filename="/images/fondo_inicio.jpg")}}" alt="Imagen del curso"></div>
            <div class="container-cursos__title-curso">Css</div>
        </div>
        <div class="container-cursos__card-curso">
            <div class="container-cursos__img-curso"><img src="{{ url_for('static', filename="/images/fondo_inicio.jpg")}}" alt="Imagen del curso"></div>
            <div class="container-cursos__title-curso">Java script</div>
        </div>
        <div class="container-cursos__card-curso">
            <div class="container-cursos__img-curso"><img src="{{ url_for('static', filename="/images/fondo_inicio.jpg")}}" alt="Imagen del curso"></div>
            <div class="container-cursos__title-curso">My sql</div>
        </div>
        <div class="container-cursos__card-curso">
            <div class="container-cursos__img-curso"><img src="{{ url_for('static', filename="/images/fondo_inicio.jpg")}}" alt="Imagen del curso"></div>
            <div class="container-cursos__title-curso">Fundamentos</div>
        </div>
        <div class="container-cursos__card-curso">
            <div class="container-cursos__img-curso"><img src="{{ url_for('static', filename="/images/fondo_inicio.jpg")}}" alt="Imagen del curso"></div>
            <div class="container-cursos__title-curso">Hmtml</div>
        </div>
        <div class="container-cursos__card-mas-cursos">
            <div class="container-cursos__img-mas-cursos"><img src="{{ url_for('static', filename="/images/ver_mas.jpg")}}" alt="Imegen ver mas"></div>
            <div class="container-cursos__title-mas-cursos">Ver más categorias</div>
        </div>
    </div>
{% endblock %}