{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% block content %}

<div class="conteiner-login">

    <div class="conteiner-login__content">

        <div class="conteiner-login__content-div">
            <span id="login-title">HOLA</span>
            <p>Bienvenido al inicio se sesion</p>
            <span id="login-emoji""><i class="bi bi-star"></i></span>
            <form action="" method="post">
                <label for="">Email</label>
                <input type="text"><br>

                <label for="">Password</label>
                <input type="text">
            </form>
            <div>
                recuerdame
            </div>
            <button>LOGIN</button>
            <div>No tienes cuenta creala</div>
        </div>
    </div>
    <div>
        <p>Hola mundo</p>
    </div>

</div>


{% endblock %}